.container {
	@include flexbox;
}

.main-content {
	@include flexbox;
	@include flex-direction(column);
	@include flex(1);
	margin-bottom: 3%;
}

.title-area {
	@include flexbox;
	@include justify-content(space-between);
}

.page-title-div {
	@include flexbox;
	@include justify-content(center);
	width: 155px;
	height: 65px;
	color: $grey;
}

.searchbar-div {
	@include flexbox;
	@include justify-content(flex-end);
	@include flex(1);
	position: relative;
	height: 65px;
	border-left: 1px solid $light-grey;
	border-bottom: 1px solid $light-grey;
	background: $ultra-light-grey;
}

.searchbar-div .fa-search {
	position: absolute;
    top: 24px;
	right: 55px;
	font-size: 15px;
}

#searchbar {
	@include flexbox;
	@include align-self(center);
	@include flex(1);
	max-width: 382px;
	height: 40px;
	margin: 0 25px;
	padding-left: 18px;
	border-radius: 5px;
	border: solid 1px $light-grey;
	outline: 0;

}

.alert-container {
	max-width: 1060px;
	width: 90%;
	margin: 20px auto;
}

.line-chart-container {
	width: 90%;
	margin: 0 auto;
	max-width: 1060px;
}

.other-charts-container {
	@include flexbox;
	@include justify-content(space-between);
	width: 90%;
	margin: 0 auto;
	max-width: 1060px;
}

.chart-area {
	width: 50%;
	border-bottom: 1px solid $light-grey;
	padding-bottom: 30px;
}

.line-chart-container {
	border-bottom: 1px solid $light-grey;
	padding-bottom: 30px;
}

.social-stats-heading {
	width: 90%;
	margin: 0 auto;
	max-width: 1060px;
}

.social-stats-container {
	@include flexbox;
	@include justify-content(space-around);
	width: 90%;
	margin: 0 auto;
	max-width: 1060px;
	padding-bottom: 50px;
	border-bottom: 1px solid $light-grey;
}

.social-stats-container img {
	@include align-self(center);
	height: 40px;
}

.twitter-container,
.facebook-container,
.google-plus-container {
	@include flexbox;
	@include align-items(center);
	width: 30%;
	height: 120px;
	border: 1px solid $light-grey;
	border-radius: 5px;
	background: $ultra-light-grey;
	margin-top: 20px;
}

.circle {
	@include flexbox;
	@include justify-content(center);
	width: 75px;
	height: 75px;
	border-radius: 50px;
	background-color: $red;
	margin-left: 22px;
	z-index: 1;
}

.visiters {
	margin-left: 5%;
}

.count {
	font-size: 52px;
}

.sm-title {
	font-size: 18px;
	font-weight: $font-weight--bold;
	color: $red;
	margin: 0;
	margin-bottom: -10%;
}


.user-act {
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(center);
	margin-bottom: 5%;
	padding-bottom: 3%;
	border-bottom: 1px solid $light-grey;
}

.user-act:last-of-type {
	border: 0;
}

.user {
	@include flexbox;
	@include align-items(center);

}

.pf-img img {
	width: 40px;
}

.pf-txt {
	margin-left: 3%;
}

.pf-txt p {
	margin: 0;

}

.pf-txt a {
	font-size: 13px;
}

.recent-activity {
	margin-left: 3%;
}

.ra-txt {
	margin-left: 3%;
	font-size: 13px;
}

.ra-txt p {
	margin: 0;
}

.fa-angle-right {
	font-size: 28px;
	color: $red;
	cursor: pointer;
}

.fa-angle-right:hover {
	color: $black;
	transition: 0.4s ease-in;
}

.date {
	font-size: 12px;
}

.name {
	@include flexbox;
	@include align-items(center);
} 


// ******* user-content grid ***** //

.user-content {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
  	grid-auto-columns: 50%;
	width: 90%;
	margin: 0 auto;
	max-width: 1060px;
}

// new members area

.new-members-area {
	border-right: 1px solid $light-grey;
	padding-right: 5%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row: 1;
}

// recent activity area

.recent-activity-area {
	padding-left: 5%;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row: 1;
}

// message area 

.message-user-area {
	@include flexbox;
	@include flex-direction(column);
	border-right: 1px solid $light-grey;
	border-top: 1px solid $light-grey;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row: 2;
	padding-right: 5%;
}

.awesomplete {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(flex-end);
}

.awesomplete ul {
	margin-top: 20px;
	padding: 5px;
}

#myinput {
	@include flex(1);
}

.message-user-area input,
.message-user-area textarea {
	margin-bottom: 3%;
	border-radius: 5px;
	outline: 0;
	padding: 10px;
}

.message-user-area input,
.message-user-area textarea {
	border: 1px solid $light-grey;
	background: $ultra-light-grey;
	color: $grey;
}

.message-user-area textarea {
	@include flex(1);
}

.message-user-area form {
	@include flexbox;
	@include flex-direction(column);
	@include flex(1);
}

.message-user-area button {
	margin-top: 20px;
	border-radius: 5px;
	border: 0;
	padding: 10px;
	background: $pomegranate;
	color: $white;
	cursor: pointer;
	margin-top: auto;
}

.message-user-area button:hover {
	background: $red;
	transition: 0.4s ease-in;
}

.send-btn,
.save-btn,
.cancel-btn {
	margin-bottom: 8%;
}


// settings area

.settings-area {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(space-between);
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row: 2;
	border-top: 1px solid $light-grey;
	padding-left: 5%;
}

 .set-option {
 	@include flexbox;
 	@include justify-content(space-between);
 	@include align-items(center);
 	width: 60%;
 }

.settings-area h3,
.settings-area p,
.settings-area select {
	outline: 0;
}

.settings-area select {
	padding: 10px;
	border-radius: 5px;
	background: $ultra-light-grey;
	color: $grey;
}

.settings-area button {
	@include flex(1);
	outline: 0;
}

.buttons {
	@include flexbox;
	@include justify-content(space-between);
}

.save-btn,
.cancel-btn {
	@include align-self(flex-end);
	padding: 10px;
	border-radius: 5px;
	border: 0;
}

.save-btn {
	margin-right: 3%;
	background: $pomegranate;
	color: $white;
	cursor: pointer;
}

.save-btn:hover {
	background: $red;
	transition: 0.4s ease-in;
}

.cancel-btn {
	background: $grey;
	color: $white;
	cursor: pointer;
}

.cancel-btn:hover {
	background: $black;
	transition: 0.4s ease-in;
}


// ***************  Media Queries **************


@media (max-width: 1050px) {
	.count {
	font-size: 46px
	}
}

@media (max-width: 945px) {
	
	.user-content {
		display: grid;
		grid-template-rows: repeat(4, 1fr);
		grid-auto-columns: 100%;
		width: 90%;
		margin: 0 auto;
		max-width: 1060px;
}

	.new-members-area {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row: 1;
		border-right: 0;
		padding: 0;
	}

	.recent-activity-area {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row: 2;
		padding: 0;
	}

	.message-user-area {
		grid-column-start: 1;
    	grid-column-end: 2;
    	grid-row: 3;
    	border-right: 0;
    	padding: 0;
	}

	.settings-area {
		grid-column-start: 1;
    	grid-column-end: 2;
    	grid-row: 4;
    	padding: 0;
	}
}

@media (max-width: 989px) {
	
    .sm-title {
    	font-size: 16px;
    }

	.count {
		font-size: 38px
	}

}

@media (max-width: 909px) {
	
    .sm-title {
    	font-size: 16px;
    }

	.count {
		font-size: 32px
	}

}


@media (max-width: 767px) {

.social-stats-container {
	@include flexbox;
	@include flex-direction(column);
	@include align-items(center);
}	

.twitter-container,
.facebook-container,
.google-plus-container {
	@include flexbox;
	width: 65%;
}

.count {
		font-size: 38px
	}

.members-area {
	@include flex-direction(column);
}

.new-members {
	@include align-self(center);
	border-right: 0;
	border-bottom: 1px solid $light-grey;
}

.recent-activity {
	@include align-self(center);
}

.new-members,
.recent-activity {
	width: 100%;
}

}
 
@media (min-width:426px) and (max-width:767px) {

.page-title-div {
	width: 100px;
	@include align-items(center);
}

.page-title-div h1 {
	font-size: 18px;
}

#searchbar {
	font-size: 14px;
	}

.other-charts-container {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(space-between);
	width: 90%;
	margin: 0 auto;
	max-width: 1060px;
	}

.sm-title {
	color: $red;
}

.chart-area {
	width: 100%;
	}
}

@media (min-width:320px) and (max-width:426px) {
	.container {
	@include flexbox;
	@include flex-direction(column);
}

.page-title-div {
	display: none;
	}

.other-charts-container {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(space-between);
	width: 90%;
	margin: 0 auto;
	max-width: 1060px;
	}

.chart-area {
	width: 100%;
	}

	.count {
		font-size: 34px
	}

}