// *********** main containers ************* //

.container {

	@include flex-direction(column);

	@include mq(small) {
	@include flexbox;
	@include flex-direction(row);
	}

}

.main-content {
	@include flexbox;
	@include flex-direction(column);
	@include flex(1);
	margin-bottom: 3%;
}

// *********** page title container ********* //

.title-area {
	@include flexbox;
	@include justify-content(space-between);
}

.page-title-div {
	display: none;
	
	@include mq(small) {
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
		width: 100px;
	}

	@include mq(medium) {
	 	width: 155px;
		height: 65px;
	}
}

.page-title-div h1 {
		font-size: 18px;
	
	@include mq(medium) {
		font-size: 24px;
	}
}


// *********** searchbar container ********** //

.searchbar-div {
	@include flexbox;
	@include justify-content(flex-end);
	@include flex(1);
	position: relative;
	height: 65px;
	border-left: 1px solid $light-grey;
	border-bottom: 1px solid $light-grey;
	background: $ultra-light-grey;
}

.searchbar-div .fa-search {
	position: absolute;
    top: 24px;
	right: 55px;
	font-size: 15px;
}

#searchbar {
	@include flexbox;
	@include align-self(center);
	@include flex(1);
	@extend %no-outline;
	max-width: 382px;
	font-size: 14px;
	height: 40px;
	margin: 0 25px;
	padding-left: 18px;
	border-radius: 5px;
	border: solid 1px $light-grey;

	@include mq(medium) {
		font-size: 16px;
	}
}

.alert-container {
	max-width: 1060px;
	width: 90%;
	margin: 20px auto;
}

// ********* Charts *********** //

.line-chart-container {
	@extend %center-content;
}

.other-charts-container {
	
	@include justify-content(space-between);
	@extend %center-content;
	
	@include mq(medium) {
		@include flexbox;
		@include flex-direction(row);
		@include justify-content(space-between);
		width: 90%;
		margin: 0 auto;
		max-width: 1060px;
	}

}

.chart-area {
	width: 100%;
	border-bottom: 1px solid $light-grey;
	padding-bottom: 30px;
	@include mq(medium) {
		width: 50%;
	} 
}

.line-chart-container {
	border-bottom: 1px solid $light-grey;
	padding-bottom: 30px;
}

.social-stats-heading {
	@extend %center-content;
}

.social-stats-container {
	@include flexbox;
	@include justify-content(space-around);
	@extend %center-content;
	@include align-items(center);
	@include flex-direction(column);	
	padding-bottom: 50px;
	border-bottom: 1px solid $light-grey;

	@include mq(medium)  {
		@include flex-direction(row);
	}
}

.social-stats-container img {
	@include align-self(center);
	height: 40px;
}

.twitter-container,
.facebook-container,
.google-plus-container {
	@include flexbox;
	@include align-items(center);
	width: 75%;
	height: 120px;
	border: 1px solid $light-grey;
	border-radius: 5px;
	background: $ultra-light-grey;
	margin-top: 20px;

	@include mq(medium) {
		@include flexbox;
		width: 30%;
	} 
}

.circle {
	@include flexbox;
	@include justify-content(center);
	width: 75px;
	height: 75px;
	border-radius: 50px;
	background-color: $red;
	margin-left: 22px;
	z-index: 1;

	@include mq(small) {
		width: 60px;
		height: 60px;
		margin-left: 10px;
	} 

	@include mq(large) {
		width: 70px;
		height: 70px;
	} 
}

.visiters {
	margin-left: 5%;
}

.count {
	font-size: 42px;

	@include mq(medium) {
			font-size: 38px;
		}

	@include mq(large) {
			font-size: 52px;			
		}

}

.sm-title {
	font-size: 18px;
	font-weight: $font-weight--bold;
	color: $red;
	margin: 0;
	margin-bottom: -10%;
}

// *********** users area ************ //

.new-members {
	@include align-self(center);
	border-bottom: 1px solid $light-grey;
	}	

.new-members,
.recent-activity {
	width: 100%;
	}

.user-act {
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(center);
	margin-bottom: 5%;
	padding-bottom: 3%;
	border-bottom: 1px solid $light-grey;

	&:last-of-type {
		@extend %no-border;
	}
}

.user {
	@include flexbox;
	@include align-items(center);
}

.pf-img img {
	width: 40px;
}

.pf-txt {
	margin-left: 3%;
}

.pf-txt p {
	margin: 0;
}

.pf-txt a {
	font-size: 13px;
}

.recent-activity {
	margin-left: 3%;
}

.ra-txt {
	margin-left: 3%;
	font-size: 13px;
}

.ra-txt p {
	margin: 0;
}

.fa-angle-right {
	font-size: 28px;
	color: $red;
	@extend %cursor-pointer;

	&:hover {
		@extend %hover-transition;
		color: $black;
	}
}

.date {
	font-size: 12px;
}

.name {
	@include flexbox;
	@include align-items(center);
} 


// ************ user-content grid *********** //

.user-content {
	@include grid;
	@include grid-template-rows(repeat(4, 1fr));
  	@include grid-auto-columns(100%);
	width: 90%;
	margin: 0 auto;
	max-width: 1060px;

	@include mq(medium) {
		@include grid-template-rows(repeat(2, 1fr));
		@include grid-auto-columns(50%);
		width: 90%;
		margin: 0 auto;
		max-width: 1060px;
	}
}

// new members area

.new-members-area {
	@include grid-column-start(1);
	@include grid-column-end(2);
	@include grid-row(1);
	border-right: 0;
	padding: 0;

	@include mq(medium) {	
		@include grid-column-start(1);
		@include grid-column-end(2);
		@include grid-row(1);
		border-right: 1px solid $light-grey;
		padding-right: 5%;
	}
}



// recent activity area

.recent-activity-area {
	@include grid-column-start(1);
	@include grid-column-end(2);
	@include grid-row(2);
	@include align-self(center);
	padding: 0;

	@include mq(medium) {
		@include grid-column-start(2);
		@include grid-column-end(3);
		@include grid-row(1);
		padding-left: 5%;
	}
}

// message area 

.message-user-area {
	@include flexbox;
	@include flex-direction(column);
	@include grid-column-start(1);
	@include grid-column-end(2);
	@include grid-row(3);
    border-right: 0;
    padding: 0;

	@include mq(medium) {
    	
		@include grid-column-start(1);
		@include grid-column-end(2);
		@include grid-row(2);
		border-right: 1px solid $light-grey;
		border-top: 1px solid $light-grey;
		padding-right: 5%;
	}
}

.awesomplete {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(flex-end);
}

.awesomplete ul {
	margin-top: 20px;
	padding: 5px;
}

#myinput {
	@include flex(1);
}

.message-user-area input,
.message-user-area textarea {
	@extend %no-outline;
	margin-bottom: 3%;
	border-radius: 5px;
	padding: 10px;
}

.message-user-area input,
.message-user-area textarea {
	border: 1px solid $light-grey;
	background: $ultra-light-grey;
	color: $grey;
}

.message-user-area textarea {
	@include flex(1);
}

.message-user-area form {
	@include flexbox;
	@include flex-direction(column);
	@include flex(1);
}

.message-user-area button {
	@extend %cursor-pointer;
	@extend %no-border;
	border-radius: 5px;
	padding: 10px;
	background: $pomegranate;
	color: $white;

	&:hover {
		@extend %hover-transition;
		background: $red;
	}
}

.send-btn,
.save-btn,
.cancel-btn {
	margin-bottom: 0%;
	@include mq(large) {
		margin-bottom: 5%;
	} 
}


// settings area

.settings-area {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(space-between);
	@include grid-column-start(1);
	@include grid-column-end(2);
	@include grid-row(4);
    padding: 0;
    border-top: 1px solid $light-grey;
	
		
		@include mq(medium) {
			@include grid-column-start(2);
			@include grid-column-end(3);
			@include grid-row(2);
			padding-left: 5%;
		}
}

 .set-option {
 	@include flexbox;
 	@include justify-content(space-between);
 	@include align-items(center);
 	width: 60%;
 }

.settings-area h3,
.settings-area p,
.settings-area select {
	@extend %no-outline;
}

.settings-area select {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #dfdfdf;
	background: $ultra-light-grey;
	color: $grey;
}

.settings-area form {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-around);
    @include flex(1);
    margin-bottom: 3%; 
}
.settings-area button {
	@include flex(1);
	@extend %no-outline;
}

.buttons {
	@include flexbox;
	@include justify-content(space-between);
}

.save-btn,
.cancel-btn {
	@include align-self(flex-end);
	@extend %no-border;
	padding: 10px;
	border-radius: 5px;
}

.save-btn {
	@extend %cursor-pointer;
	margin-right: 3%;
	background: $pomegranate;
	color: $white;

	&:hover {
		@extend %hover-transition;
		background: $red;
	}
}

.cancel-btn {
	@extend %cursor-pointer;
	background: $grey;
	color: $white;

	&:hover {
		@extend %hover-transition;
		background: $black;
	}
}