.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.main-content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.title-area {
	display: flex;
	justify-content: space-between;
}

.page-title-div {
	width: 155px;
	height: 65px;
	display: flex;
	justify-content: center;
	color: $grey;
}

.searchbar-div {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	position: relative;
	height: 65px;
	border-left: 1px solid $light-grey;
	border-bottom: 1px solid $light-grey;
	background: $ultra-light-grey;
}

.searchbar-div .fa-search {
	position: absolute;
    top: 24px;
	right: 55px;
	font-size: 15px;
}

#searchbar {
	display: flex;
	flex-grow: 1;
	align-self: center;
	max-width: 382px;
	height: 40px;
	margin: 0 25px;
	padding-left: 18px;
	border-radius: 5px;
	border: solid 1px $light-grey;
	outline: 0;

}

// ***************  Media Queries **************

@media (min-width:426px) and (max-width:767px) {

.page-title-div {
	width: 100px;
	align-items: center;
}

.page-title-div h1 {
	font-size: 18px;
}

#searchbar {
	font-size: 14px;
}

}

@media (min-width:320px) and (max-width:426px) {
	.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.page-title-div {
	display: none;
}

}