.header {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  height: 70px;
  background: $black;
  color: $white;
}

.logo a {
	text-decoration: none;
	color: $white;
	font-size: 24px;
	margin-left: 20px;
}

.logo a:hover {
	color: $red;
	transition: 0.2s ease-in;
}

.your {
	font-weight: $font-weight--ultra-bold;
	
}

.app {
	font-weight: $font-weight--light;
}

// ***************  Media Queries **************

@media (min-width:320px) and (max-width:426px) {
 .logo a {
 	font-size: 18px;
 }
}