.sidebar {
	display: flex;
	background: $red;
}

.icon-div {
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.dashboard-icon,
.members-icon,
.visits-icon,
.settings-icon {
	width: 40%;
	align-self: center;
}

svg:hover .hover {
	fill: $black;
	transition: 0.4s ease-in;
}

@media (min-width:768px) {

.sidebar {
	flex-direction: column;
	height: 100vh; 
	width: 89px;
}

.icon-container {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.current {
	border-left: solid 2px $white;
}


}

@media (min-width:426px) and (max-width:767px) {
 .sidebar {
 	flex-direction: column;
	height: 100vh; 
 	width: 60px;
 }

.icon-container {
	height: 300px;
	width: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.current {
	border-left: solid 2px $white;
}

}

@media (min-width:320px) and (max-width:426px) {
 .sidebar {
 	display: flex;
 	flex-direction: row;
 	flex-grow: 1;
 	height: 50px;
 }
 .icon-container {
 	flex-grow: 1;
 	display: flex;
 	flex-direction: row;
 }

.dashboard-icon,
.members-icon,
.visits-icon,
.settings-icon {
	height: 40%;
	align-self: center;
}

.current {
	border-top: solid 1px $white;

}

}