.sidebar {
	@include flexbox;
	background: $red;
}

.icon-div {
	@include flexbox;
	@include justify-content(center);
	@extend %cursor-pointer;
}


// ***************  Media Queries **************

@media (min-width:768px) {

.sidebar {
	@include flex-direction(column);
	min-width: 89px;
	max-width: 89px;
}

.icon-container {
	@include flexbox;
	@include flex-direction(column);
	height: 300px;
	@include justify-content(space-around);
}

.current {
	border-left: solid 2px $white;
	}
}

@media (min-width:426px) and (max-width:767px) {
 .sidebar {
 	@include flex-direction(column);
 	width: 60px;
 }

.icon-container {
	@include flexbox;
	@include flex-direction(column);
	height: 300px;
	width: 60px;
	@include justify-content(space-around);
}

.current {
	border-left: solid 2px $white;
	}
}

@media (min-width:320px) and (max-width:426px) {
 .sidebar {
 	height: 50px;
 }
 .icon-container {
 	@include flexbox;
 	@include flex(1);
 }

.dashboard-icon,
.members-icon,
.visits-icon,
.settings-icon {
	@include align-self(center);
	height: 40%;
}

.current {
	border-top: solid 1px $white;
	}
}