.sidebar {
	@include flexbox;
	@include flex-direction(column);
	background: $red;
	min-height: 50px;

	@include mq(small) {
		@include flex-direction(row);
		width: 60px;
	} 

	@include mq(medium) {
		@include flex-direction(row);
		min-width: 80px;
		max-width: 80px;
	} 

	@include mq(large) {
		min-width: 89px;
		max-width: 89px;
	} 

}

.icon-container {
	@include flexbox;
	@include flex(1);

	@include mq(small) {
		@include flex-direction(column);
		height: 300px; 
		min-width: 60px;
		@include justify-content(space-around);
	}

	@include mq(medium) { 
		min-width: 100%;
	}
}

.icon-div {
	@include flexbox;
	@include justify-content(center);
	@extend %cursor-pointer;
}

.current {
	border-top: solid 1px $white;

	@include mq(small) {
		border-left: solid 2px $white;
		border-top: 0;
	}
}

.dashboard-icon,
.members-icon,
.visits-icon,
.settings-icon {
	@include align-self(center);
	height: 40%;
}
