.alert {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f44336; /* Red */
    color: white;
    margin: 15px auto;
    border-radius: 5px;
    max-width: 90%;
}

.closebtn {
    margin-right: 5px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    order:2;
}

.closebtn:hover {
    color: black;
}

.line-chart-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.line-chart-buttons {
    display: flex;
    justify-content: flex-end;
}

.btn {
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    background: $black;
    color: $white;
    padding: 8px;
    border: 0;
    outline: 0;
}

.btn:hover {
    color: $red;
    transition: 0.3s ease-in;
}


@media (min-width:320px) and (max-width:425px) {
    .btn {
        font-size: 12px;
        padding: 6px;
    }

    .line-chart-container h3 {
        margin-top:0;
    }
}