.alert {
    @include flexbox;
    @include justify-content(space-between);
    padding: 10px;
    background-color: $pomegranate;
    color: $white;
    margin: 15px auto;
    border-radius: 5px;
}

.closebtn {
    @include order(2);
    @extend %cursor-pointer;
    margin-right: 5px;
    color: $white;
    font-weight: $font-weight--bold;
    font-size: 28px;
    line-height: 20px;
    transition: 0.3s;
}

.closebtn:hover {
    color: $black;
}

.line-chart-container h3 {
        margin-top: 0;
}


.line-chart-heading {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
}


.line-chart-buttons {
    @include flexbox;
    @include justify-content(flex-end);
}

.btn {
    @extend %cursor-pointer;
    @extend %no-outline;
    @extend %no-border;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    background: $black;
    color: $white;
    padding: 6px;

    &:hover {
        color: $red;
        transition: 0.3s ease-in;
    }
}

// ******** ON/OFF Switches ********** //

.onoffswitch {
    position: relative; 
    min-width: 90px;
    max-width: 90px;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    @extend %cursor-pointer;
    display: block; 
    overflow: hidden; 
    border: 2px solid $white; 
    border-radius: 20px;
}


.onoffswitch-inner:before, 
.onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: $white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: $font-weight--bold;
    box-sizing: border-box;
}

.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;

    &:before {
        content: "ON";
        padding-left: 10px;
        background-color: $red; 
        color: $white;
    }

    &:after {
        content: "OFF";
        padding-right: 10px;
        background-color: $black; 
        color: $grey;
        text-align: right;
    }
}


.onoffswitch-switch {
    display: block; 
    width: 18px; 
    margin: 6px;
    background: $white;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 56px;
    border: 2px solid $white; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


// ******** Media Queries ********** //

@media (min-width:425px) {
    .btn {
        font-size: 14px;
        padding: 8px;
    }
}