// Notification bell icon

#noti-bell {
	@include position(relative);
	@extend %cursor-pointer;
	@extend %no-outline;
	height: 25px;
}

.dashboard-icon,
.members-icon,
.visits-icon,
.settings-icon {
	@include align-self(center);
	width: 40%;
}

svg:hover .hover {
	@extend %hover-transition-slow;
	fill: $black;
}

// Form confirm icons (sweetalert2)

.swal2-icon.swal2-error,
 {
	border-color: $red !important;
}

.swal2-x-mark-line-left,
.swal2-x-mark-line-right {
	background: $red !important;
}

.swal2-success-ring {
	border-color: $deYork !important;
}