// Notification icon

#noti-bell {
	@extend %cursor-pointer;
	@extend %no-outline;
	height: 25px;
	position: relative;
}

.dashboard-icon,
.members-icon,
.visits-icon,
.settings-icon {
	@include align-self(center);
	width: 40%;
}

svg:hover .hover {
	@extend %hover-transition;
	fill: $black;
}