.header-nav-list {
	display: flex;
}

.header-nav-notification {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.header-nav-name {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.header-nav-userpicture {
	height: 50px;
	margin-right: 20px;
	padding-left: 10px;
	border-left: 1px solid $grey;
}

// Notification menu

.header-nav-notification {
	position:relative;
    display: flex;
}

/* THE RED NOTIFICATIONS COUNTER. */
    
 #noti_Counter {
    display:block;
    position:absolute;
    background:$red;
    color:#FFF;
    font-size:12px;
    font-weight:normal;
    padding:1px 3px;
    margin:10px 0 0 15px;
    border-radius:50%;
    -moz-border-radius:50%; 
    -webkit-border-radius:50%;
    z-index:1;
}

 /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
   
#notifications {
    display:none;
    width:230px;
    position:absolute;
    top:50px;
    left:-10px;
    background: $white;
    border:solid 1px rgba(100, 100, 100, .20);
    -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
    z-index: 0;
}

/* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */

#notifications:before {         
    content: '';
    display:block;
    width:0;
    height:0;
    color:transparent;
    border:10px solid #CCC;
    border-color:transparent transparent $red;
    margin-top:-20px;
    margin-left:10px;
}

.noti-heading {
    display:block;
    color: $white; 
    background:$red;
    font-weight:bold;
    font-size:13px;    
    padding:8px;
    margin:-1px;
    border-bottom:solid 1px rgba(100, 100, 100, .30);

}

.noti1,
.noti2 {
    color: $black;
    padding: 10px 30px 10px 10px;    
}

.noti-sep {
    border-top: solid 1px rgba(100, 100, 100, .30);
    width: 90%;
    margin: auto;
}

.noti-container {
    display: flex;
    flex-direction: column;
}

.noti-rule {
    display: flex;
    justify-content: space-between;
}

.fa-times {
    color: $grey;
    align-self: center;
    font-size: 24px;
    padding-right: 20px;
}