//***** NAV ITEMS HEADERBAR *****/

.header-nav-list {
	@include flexbox;
}

.header-nav-notification {
	@include flexbox;
	@include align-items(center);
    position:relative;
	margin-right: 20px;
}

.header-nav-name {
    display: none;

    @include mq(small) {
    @include flexbox;
    @include align-items(center);
    margin-right: 20px;
} 

}

.header-nav-userpicture {
	height: 35px;
	margin-right: 20px;
	padding-left: 10px;
	border-left: 1px solid $grey;
}


//***** NOTIFICATION MENU *****



/* THE RED NOTIFICATIONS COUNTER. */
    
 #noti_Counter {
    display: block;
    position: absolute;
    background: $red;
    color: $white;
    font-size: 12px;
    font-weight: $font-weight--regular;
    padding: 1px 3px;
    margin: 10px 0 0 15px;
    border-radius: 50%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%;
    z-index: 1;
}

 /* THE NOTIFICAIONS WINDOW. */
   
#notifications {
    display: none;
    width: 230px;
    position: absolute;
    top: 50px;
    left: -150px;
    background: $ultra-light-grey;
    border:solid 1px rgba(100, 100, 100, .20);
    -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
    z-index: 1;

    &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        color: transparent;
        border: 10px solid $grey;
        border-color: transparent transparent $red;
        margin-top: -20px;
        margin-left: 150px;
    }
}

.noti-heading {
    display: block;
    color: $white; 
    background: $red;
    font-weight: $font-weight--bold;
    font-size: 14px;    
    padding: 8px;
    margin: -1px;
    border-bottom: solid 1px rgba(100, 100, 100, .30);

}

/* THE NOTIFICAIONS. */


.noti1,
.noti2 {
    color: $black;
    padding: 10px 30px 10px 10px;
    cursor: pointer;

    &:hover,
    &:hover {
        @extend %hover-transition;
        color: $red;
    }   
}


.noti-sep {
    border-top: solid 1px rgba(100, 100, 100, .30);
    width: 90%;
    margin: auto;
}

.noti-container {
    @include flexbox;
    @include flex-direction(column);
    font-weight: bold;
}

.noti-rule1 {
    padding-bottom: 5px;
}

.noti-rule2 {
    padding-top: 5px;
}


.noti-rule1,
.noti-rule2
 {
    @include flexbox;
    @include justify-content(space-between);

    &:hover,
    &:hover {
        @extend %hover-transition;
        background: $white; 
    }
}

.fa-times {
    @include align-self(center);
    @extend %cursor-pointer;
    color: $grey;
    font-size: 24px; 
    padding-right: 20px;

    &:hover {
        @extend %hover-transition;
        color: $red;
    }
}