// Descriptive Base Colors

$white                	: #fff;
$black                	: #0b0b0b;
$red				  	: #D91420;
$grey					: #b2b2b2;

// Functional Colors

$pirate-gold		 	: #CB8600;
$amethyst-smoke			: #A690B5;
