// ==========================================================================
// Typography
// ==========================================================================

h1 {
	font-size: 24px;
}

// Font Stacks

$font-family--primary : Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

// Font Weights

$font-weight--light      : 300;
$font-weight--regular    : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 800;

// Text

$base__font-size : 16px;
$h1     		 : 24px;
$letter-space    : 1px;
