
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
	font-family: $font-family--primary;
}

li {
	list-style: none;
}

a {
	color: $red;

	&:hover {
		@extend %hover-transition;
		color: $black;
	} 
}